
.container {
    position: relative;
    color: white;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    z-index: +1;

}
.blogSection {
   display: flex;
}

.leftSection {
   width: 20%;
}

.rightSection {
   width: 80%;
}

.image {
    width: 100%;
    height: 100%;
   margin: auto;
}

.heading {
    font: 600 2rem 'Roboto Mono';
    margin-bottom: 3rem;

}

.homeBlogsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid gray;
    width: 100%;
    height: 25vh;
    margin-bottom: 1rem;
    
}

.homeBlogsContainer:hover {
    border-color: red;
}

.title {
    font: 400 1.2rem "Roboto Mono";
    text-align: center;
    margin: 1.25rem;
    margin-left: 0rem;
}

.description {
    font: 200 1rem cursive;
    margin: 1rem;
    text-align: center;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}






